.ojs {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .ojs .overlap-wrapper {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
  
  .ojs .overlap {
    position: relative;
    width: 1179px;
    height: 152px;
    top: 18px;
    left: 146px;
  }
  
  .ojs .header {
    position: absolute;
    width: 1179px;
    height: 140px;
    top: 12px;
    left: 0;
    background-color: transparent;
  }
  
  .ojs .main-header {
    position: absolute;
    width: 1179px;
    height: 70px;
    top: 70px;
    left: 0;
  }
  
  .ojs .overlap-group {
    position: relative;
    height: 70px;
  }
  
  .ojs .bg {
    position: absolute;
    width: 1170px;
    height: 70px;
    top: 0;
    left: 9px;
  }
  
  .ojs .rectangle {
    position: relative;
    width: 1172px;
    height: 72px;
    top: -1px;
    left: -1px;
    background-color: #e3eeff;
    border-radius: 8px;
    box-shadow: 0px -10px 20px #00356d0f;
  }
  
  .ojs .menu {
    position: absolute;
    width: 1153px;
    height: 27px;
    top: 22px;
    left: 0;
  }
  
  .ojs .div {
    position: relative;
    width: 1151px;
    height: 27px;
  }
  
  .ojs .home-insurance-pages {
    position: absolute;
    width: 1151px;
    top: -14px;
    left: 39px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
    line-height: normal;
  }
  
  .ojs .text-wrapper {
    font-weight: 600;
  }
  
  .ojs .span {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
  }
  
  .ojs .path {
    left: 575px;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 11px;
  }
  
  .ojs .img {
    left: 812px;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 11px;
  }
  
  .ojs .logo {
    position: absolute;
    width: 190px;
    height: 41px;
    top: 0;
    left: 39px;
    object-fit: cover;
  }
  
  .ojs .button {
    position: absolute;
    width: 177px;
    height: 53px;
    top: 0;
    left: 985px;
    background-image: url(./img/rectangle.svg);
    background-size: 100% 100%;
    all: unset;
    box-sizing: border-box;
  }
  
  .ojs .overlap-2 {
    position: relative;
    width: 144px;
    height: 23px;
    top: 12px;
    left: 14px;
  }
  
  .ojs .get-a-quote {
    position: absolute;
    width: 144px;
    top: 0;
    left: 0;
    font-family: "Circular-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ojs .group {
    position: absolute;
    width: 8px;
    height: 11px;
    top: 7px;
    left: 130px;
  }
  .button {
    width: 177px;
    height: 53px;
    all: unset;
    box-sizing: border-box;
  }
  
  .button .component {
    height: 53px;
    background-image: url(./images/Rectangle.png);
    background-size: 100% 100%;
    margin-left: 994px;
    margin-top: 10px;
  }
  
  .button .overlap-group {
    position: relative;
    width: 138px;
    height: 23px;
    top: 11px;
    left: 14px;
  }
  
  .button .get-a-quote {
    position: absolute;
    width: 144px;
    top: -103px;
    left: -94px;
    font-family: "Circular-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .button .group {
    position: absolute;
    width: 8px;
    height: 11px;
    top: -98px;
    left: 21px;
  }
  .component {
    width: 144px;
    height: 460px;
    background-color: #ffffff;
    margin-top: -50px; /* Adjust the value as needed */
  }
  
  
  .component .overlap-group {
    position: relative;
    /* width: 1258px; */
    height: 368px;
    top: 119px;
    left: 93px;
  }
  
  .component .hero-title {
    position: absolute;
    width: 1258px;
    height: 368px;
    top: 0;
    left: 0;
  }
  
  .component .share-your-research {
    /* position: absolute;
    width: 1254px;
    top: -45px;
    left: 0;
    font-family: "Playfair Display-Bold", Helvetica;
    font-weight: 700;
    color: #094b72;
    font-size: 60px;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 72px;
    padding: 19px 93px 0px 93px; */
    width: 1254px; 
    text-align: center; 
    color: #094B72; 
    font-size: 60px;
     font-family: Playfair Display; 
     font-weight: 700; 
     line-height: 72px; 
     letter-spacing: 1.20px; 
     word-wrap: break-word;
     margin: 21px;
     
  }
  
  .component .text-wrapper {
    position: absolute;
    width: 830px;
    height: 88px;
    top: 241px;
    left: 212px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--neutral-grey-6);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 37.9px;
  }
  
  .component .frame {
    display: flex;
    width: 691px;
    height: 87px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    left: 298px;
  }
  
  .component .form-control {
    position: relative;
    width: 601px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
    border: 3px solid;
    border-color: #094b72;
  }
  
  .component .div {
    position: absolute;
    height: 18px;
    top: 15px;
    left: 13px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--text-muted);
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.component .btn-primary-lg {
    position: relative;
    flex: 0 0 auto;
    height: 50px;
  }

.btn-primary-lg{
display : inline-flex;
height : 50px;
align-items: center;
 
gap: 10px;
padding: 2px 16px;
position : relative;
background-color: #094b72;
border-radius : 0px 5px 5px 0px;
/* overflow: hidden;*/ } 


/* Why ojs starts */
.blue-icon {
    position: absolute;
    height: 91.79vh;
    width: 105.79vw;
    top: -145.79%;
    right: 0;
    bottom: 0;
    left: 0.21%;
   
    overflow: hidden; 
    display: flex;
    gap: 100px;
    align-items: center;
     
    background-color: #F2F7FF;
  }
  .icon-awesome-eye {
    position: relative;
    width: 25.78px;
    height: 17.18px;
  }
  .why-ojss {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .tag {
    border-radius: 20px;
    background-color: #f7f1ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 12px;
    text-align: left;
    color: #722ed1;
  }
  .discover-the-benefits {
    position: relative;
    font-size: 32px;
    line-height: 40px;
    font-family: var(--font-playfair-display);
  }
  .text {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-lightslategray);
    display: inline-block;
    width: 672px;
  }
  .vector-icon {
    position: relative;
    width: 32px;
    height: 40px;
  }
  .journals,
  .we-are-the {
    position: relative;
    line-height: 24px;
    display: inline-block;
    width: 307px;
  }
  .we-are-the {
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-lightslategray);
    width: 305px;
  }
  .resources-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-42xl);
    background-color: var(--color-steelblue);
    width: 198.29px;
    height: 43.5px;
  }
  .resources-editors {
    position: absolute;
    top: 20px;
    left: 0;
    border-radius: var(--br-42xl);
    background-color: var(--color-steelblue);
    width: 198.29px;
    height: 43.5px;
  }
  .resources-for-librarian {
    position: absolute;
    top: calc(50% - 14.07px);
    right: 0;
    letter-spacing: 0.08em;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    width: 212.89px;
    height: 28.15px;
  }
  .resources {
    position: relative;
    width: 220.8px;
    height: 43.5px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-1);
  }
  .valuable-business-insights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .icbaseline-laptop-icon {
    position: relative;
    width: 32px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icbaseline-newspaper-icon {
    position: relative;
    width: 32px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .online {
    position: relative;
    line-height: 24px;
  }
  .our-articles-are {
    margin: 0;
  }
  .our-articles-are-container {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-lightslategray);
    display: inline-block;
    width: 307px;
  }
  .resources-for-authors {
    position: absolute;
    top: calc(50% - 13.5px);
    right: 0;
    letter-spacing: 0.08em;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    width: 212.89px;
    height: 28.15px;
  }
  .resources-for-editors {
    position: absolute;
    top: calc(50% - -3.5px);
    right: 0;
    letter-spacing: 0.08em;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    width: 212.89px;
    height: 28.15px;
  }
  .resources1 {
    position: relative;
    width: 229.78px;
    height: 43.5px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-1);
  }
  .announcements {
    position: relative;
    text-decoration: none;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
  }
  .call-for-special-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .call-for-special-container {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-lightslategray);
    text-align: center;
    display: flex;
    align-items: center;
    width: 317px;
  }
  .resources2 {
    position: relative;
    width: 229.79px;
    height: 43.5px;
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-1);
  }
  .data-in-real-time {
    flex-direction: column;
    gap: var(--gap-base);
    text-align: left;
  }
  .data-in-real-time,
  .features,
  .why-qubly {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
  }
  .features {
    flex-direction: row;
    gap: var(--gap-base);
    font-family: var(--font-playfair-display);
  }
  .why-qubly {
    position: absolute;
    height: 85.3vh;
    width: 100vw;
    top: 8.21%;
    right: 0;
    bottom: 6.48%;
    left: 0;
    flex-direction: column;
    gap: 24px;
  }
  .component-1 {
    position: absolute;
    top: 1097px;
    left: -3px;
    width: 1443px;
    height: 694px;
  }
  .ojss {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 3432px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-midnightblue);
    font-family: var(--font-poppins);
  }
  
  
  
  
/* Why ojs ends */
    
  