.ojs {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 170px;
  }
  
  .ojs .overlap-wrapper {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
  
  .ojs .overlap {
    position: relative;
    width: 1179px;
    height: 152px;
    top: 18px;
    left: 146px;
  }
  
  .ojs .header {
    position: absolute;
    width: 1179px;
    height: 140px;
    top: 12px;
    left: 0;
    background-color: transparent;
  }
  
  .ojs .main-header {
    position: absolute;
    width: 1179px;
    height: 70px;
    top: 70px;
    left: 0;
  }
  
  .ojs .overlap-group {
    position: relative;
    height: 70px;
  }
  
  .ojs .bg {
    position: absolute;
    width: 1170px;
    height: 70px;
    top: 0;
    left: 9px;
  }
  
  .ojs .rectangle {
    position: relative;
    width: 1172px;
    height: 72px;
    top: -1px;
    left: -1px;
    background-color: #e3eeff;
    border-radius: 8px;
    box-shadow: 0px -10px 20px #00356d0f;
  }
  
  .ojs .menu {
    position: absolute;
    width: 1153px;
    height: 27px;
    top: 22px;
    left: 0;
  }
  
  .ojs .div {
    position: relative;
    width: 1151px;
    height: 27px;
  }
  
  .ojs .home-insurance-pages {
    position: absolute;
    width: 1151px;
    top: -14px;
    left: 39px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
    line-height: normal;
  }
  
  .ojs .text-wrapper {
    font-weight: 600;
  }
  
  .ojs .span {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
  }
  
  .ojs .path {
    left: 575px;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 11px;
  }
  
  .ojs .img {
    left: 812px;
    position: absolute;
    width: 12px;
    height: 7px;
    top: 11px;
  }
  
  .ojs .logo {
    position: absolute;
    width: 190px;
    height: 41px;
    top: 0;
    left: 39px;
    object-fit: cover;
  }
  
  .ojs .button {
    position: absolute;
    width: 177px;
    height: 53px;
    top: 0;
    left: 985px;
    background-image: url(./img/rectangle.svg);
    background-size: 100% 100%;
    all: unset;
    box-sizing: border-box;
  }
  
  .ojs .overlap-2 {
    position: relative;
    width: 144px;
    height: 23px;
    top: 12px;
    left: 14px;
  }
  
  .ojs .get-a-quote {
    position: absolute;
    width: 144px;
    top: 0;
    left: 0;
    font-family: "Circular-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ojs .group {
    position: absolute;
    width: 8px;
    height: 11px;
    top: 7px;
    left: 130px;
  }
  .button {
    width: 177px;
    height: 53px;
    all: unset;
    box-sizing: border-box;
  }
  
  .button .component {
    height: 53px;
    background-image: url(./images/Rectangle.png);
    background-size: 100% 100%;
    margin-left: 994px;
    margin-top: 10px;
  }
  
  .button .overlap-group {
    position: relative;
    width: 138px;
    height: 23px;
    top: 11px;
    left: 14px;
  }
  
  .button .get-a-quote {
    position: absolute;
    width: 144px;
    top: -103px;
    left: -94px;
    font-family: "Circular-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .button .group {
    position: absolute;
    width: 8px;
    height: 11px;
    top: -98px;
    left: 21px;
  }
  .component {
    width: 144px;
    height: 460px;
    background-color: #ffffff;
    margin-top: -50px; /* Adjust the value as needed */
  }
  
  
  .component .overlap-group {
    position: relative;
    /* width: 1258px; */
    height: 368px;
    top: 119px;
    left: 93px;
  }
  
  .component .hero-title {
    position: absolute;
    width: 1258px;
    height: 368px;
    top: 0;
    left: 13px;
  }
  
  .component .share-your-research {
    /* position: absolute;
    width: 1254px;
    top: -45px;
    left: 0;
    font-family: "Playfair Display-Bold", Helvetica;
    font-weight: 700;
    color: #094b72;
    font-size: 60px;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 72px;
    padding: 19px 93px 0px 93px; */
    width: 1254px; 
    text-align: center; 
    color: #094B72; 
    font-size: 60px;
     font-family: Playfair Display; 
     font-weight: 700; 
     line-height: 72px; 
     letter-spacing: 1.20px; 
     word-wrap: break-word;
     margin: 21px;
     
  }
  
  .component .text-wrapper {
    position: absolute;
    width: 830px;
    height: 88px;
    top: 241px;
    left: 212px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--neutral-grey-6);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 37.9px;
  }
  
  .component .frame {
    display: flex;
    width: 691px;
    height: 87px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    left: 315px;
  }
  
  .component .form-control {
    position: relative;
    width: 601px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
    border: 3px solid;
    border-color: #094b72;
  }
  
  .component .div {
    position: absolute;
    height: 18px;
    top: 15px;
    left: 13px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--text-muted);
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.component .btn-primary-lg {
    position: relative;
    flex: 0 0 auto;
    height: 50px;
  }

.btn-primary-lg{
display : inline-flex;
height : 50px;
align-items: center;
 
gap: 10px;
padding: 2px 16px;
position : relative;
background-color: #094b72;
border-radius : 0px 5px 5px 0px;
/* overflow: hidden;*/ } 


/* Why ojs starts */
.blue-icon {
    position: absolute;
    height: 91.79vh;
    width: 105.79vw;
    top: -145.79%;
    right: 0;
    bottom: 0;
    left: 0.21%;
   
    overflow: hidden; 
    display: flex;
    gap: 100px;
    align-items: center;
     
    background-color: #F2F7FF;
  }
  .icon-awesome-eye {
    position: relative;
    width: 25.78px;
    height: 17.18px;
  }
  .why-ojss {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .tag {
    border-radius: 20px;
    background-color: #f7f1ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 12px;
    text-align: left;
    color: #722ed1;
  }
  .discover-the-benefits {
    position: relative;
    font-size: 32px;
    line-height: 40px;
    font-family: var(--font-playfair-display);
  }
  .text {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-lightslategray);
    display: inline-block;
    width: 672px;
  }
  .vector-icon {
    position: relative;
    width: 32px;
    height: 40px;
  }
  .journals,
  .we-are-the {
    position: relative;
    line-height: 24px;
    display: inline-block;
    /* width: 307px; */
  }
  .we-are-the {
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-lightslategray);
    width: 305px;
  }
  .resources-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-42xl);
    background-color: var(--color-steelblue);
    width: 198.29px;
    height: 43.5px;
  }
  .resources-editors {
    position: absolute;
    top: 20px;
    left: 0;
    border-radius: var(--br-42xl);
    background-color: var(--color-steelblue);
    width: 198.29px;
    height: 43.5px;
  }
  .resources-for-librarian {
    position: absolute;
    top: calc(50% - 14.07px);
    right: 0;
    letter-spacing: 0.08em;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    width: 212.89px;
    height: 28.15px;
  }
  .resources {
    position: relative;
    width: 220.8px;
    height: 43.5px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-1);
  }
  .valuable-business-insights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .icbaseline-laptop-icon {
    position: relative;
    width: 32px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icbaseline-newspaper-icon {
    position: relative;
    width: 32px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .online {
    position: relative;
    line-height: 24px;
  }
  .our-articles-are {
    margin: 0;
  }
  .our-articles-are-container {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-lightslategray);
    display: inline-block;
    width: 307px;
  }
  .resources-for-authors {
    position: absolute;
    top: calc(50% - 13.5px);
    right: 0;
    letter-spacing: 0.08em;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    width: 212.89px;
    height: 28.15px;
  }
  .resources-for-editors {
    position: absolute;
    top: calc(50% - -3.5px);
    right: 0;
    letter-spacing: 0.08em;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    width: 212.89px;
    height: 28.15px;
  }
  .resources1 {
    position: relative;
    width: 229.78px;
    height: 43.5px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-1);
  }
  .announcements {
    position: relative;
    text-decoration: none;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
  }
  .call-for-special-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .call-for-special-container {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-lightslategray);
    text-align: center;
    display: flex;
    align-items: center;
    width: 317px;
  }
  .resources2 {
    position: relative;
    width: 229.79px;
    height: 43.5px;
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-1);
  }
  .data-in-real-time {
    flex-direction: column;
    gap: var(--gap-base);
    text-align: left;
  }
  .data-in-real-time,
  .features,
  .why-qubly {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
  }
  .features {
    flex-direction: row;
    gap: var(--gap-base);
    font-family: var(--font-playfair-display);
  }
  .why-qubly {
    position: absolute;
    height: 500px;
    width: 100vw;
    top: 3.79%;
    right: 0;
    bottom: 6.48%;
    left: 0;
    flex-direction: column;
    gap: 24px;
  }
  .component-1 {
    position: absolute;
    top: 635px;
    left: -3px;
    width: 1443px;
     
  }
  .ojss {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 3432px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-midnightblue);
    font-family: var(--font-poppins);
  }
  
  
  
  
/* Why ojs ends */
    
/*Counts starts  */

.bg,
.bg-child {
  position: absolute;
  top: 0;
  left: 0;
}
.bg-child {
  background-color: #094b72;
  width: 1540px;
  height: 376px;
}
.bg {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.label,
.number {
  position: relative;
  display: inline-block;
  width: 255px;
}
.number {
  line-height: 64px;
  font-weight: 800;
}
.label {
  font-size: var(--font-size-lg);
  line-height: 32px;
  color: inherit;
  text-decoration: none;
}
.details {
  overflow: hidden;
}
.details,
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divider {
  position: relative;
  border-right: 1px solid var(--default-white);
  box-sizing: border-box;
  width: 1px;
  height: 97px;
  opacity: 0.4;
}
.label1 {
  letter-spacing: 0.3px;
}
.label1,
.label2 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 32px;
  display: inline-block;
  width: 255px;
}
.counts {
  position: absolute;
  height: 32.44%;
  top: 54.85%;
  bottom: 12.71%;
  left: calc(50% - 412.5px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.section-title {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 64px;
  font-weight: 900;
  display: inline-block;
  width: 730px;
}
.section-heading1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.5px;
  line-height: 32px;
  font-family: var(--font-poppins);
}
.section-heading {
  position: absolute;
  width: 50.69%;
  top: calc(50% - 112.68px);
  right: 24.65%;
  left: 24.65%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-family: var(--font-playfair-display);
}
.achievement,
.libraryoutline {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -11.15%;
  right: 0.83%;
  bottom: 11.15%;
  left: -0.83%;
}
.libraryoutline {
  height: 8.11%;
  width: 1.67%;
  top: 29.4%;
  right: 87.36%;
  bottom: 62.49%;
  left: 10.97%;
  overflow: hidden;
}
.component-5 {
  position: relative;
  width: 100%;
  height: 295.93px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--default-white);
  font-family: var(--font-poppins);
  top: 570px;
}

  /*Counts ends  */

  /* Library starts */
  .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f2f7ff;
  }
  .slider-controls-2-child,
  .slider-controls-2-item {
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
  }
  .slider-controls-2-child {
    background-color: var(--default-white);
    border: 1px solid var(--default-white);
  }
  .slider-controls-2-item {
    border: 2px solid var(--default-white);
    opacity: 0.5;
  }
  .slider-controls-2 {
    position: absolute;
    height: 1.64%;
    width: 3.75%;
    top: 56.23%;
    right: 48.13%;
    bottom: 42.13%;
    left: 48.13%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .section-headings {
    position: absolute;
    height: 10.49%;
    width: 32.64%;
    top: 13.11%;
    right: 55.9%;
    bottom: 76.39%;
    left: 11.46%;
    overflow: hidden;
  }
  .section-titles {
    position: absolute;
    height: 10.49%;
    width: 50.35%;
    top: 10%;
    left: 24.79%;
    letter-spacing: 0.5px;
    line-height: 64px;
    display: inline-block;
  }
  .testimonial-section {
    position: absolute;
    height: 112.07%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: -12.07%;
    left: 0;
    font-size: 48px;
    color: var(--neutral-grey-7);
    font-family: var(--font-playfair-display);
  }
  .imagefigma-1-icon {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-5xl);
    max-width: 100%;
    overflow: hidden;
    height: 382px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .international-studies-of {
    align-self: stretch;
    position: relative;
    line-height: 32px;
    font-weight: 500;
  }
  .nama-rumah-harga {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div,
  .imagefigma-1-container,
  .imagefigma-1-group,
  .imagefigma-1-parent {
    position: absolute;
    height: 68.04%;
    width: 23.61%;
    top: 31.96%;
    right: 70.42%;
    bottom: 0;
    left: 5.97%;
    border-radius: var(--br-11xs);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xl);
  }
  .frame-div,
  .imagefigma-1-container,
  .imagefigma-1-group {
    top: 30.94%;
    right: 48.13%;
    bottom: 1.03%;
    left: 28.26%;
  }
  .frame-div,
  .imagefigma-1-container {
    top: 30.68%;
    right: 26.04%;
    bottom: 1.28%;
    left: 50.35%;
  }
  .frame-div {
    top: 29.78%;
    right: 4.93%;
    bottom: 2.18%;
    left: 71.46%;
  }
  .component-2 {
    position: relative;
    width: 100%;
    height: 779px;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--neutral-900);
    font-family: var(--font-lexend);
    top: 556px;
  }
  
  
  /* Library ends */
  .bg-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2579px;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    background-color: #094B72;
  }
  .researchers {
    position: relative;
    line-height: 30px;
    font-weight: 500;
  }
  .researchers,
  .visit-author-hub {
    display: inline-block;
    width: 160px;
  }
  .visit-author-hub,
  .visit-reviewer-hub {
    position: relative;
    line-height: 26px;
  }
  .col-1,
  .col-2,
  .features,
  .list-items {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .col-1,
  .col-2,
  .list-items {
    flex-direction: column;
  }
  .list-items {
    gap: var(--gap-xs);
    font-size: var(--body-body-1-size);
    color: var(--text-gray-200);
  }
  .col-1,
  .col-2 {
    width: 177px;
    flex-shrink: 0;
    gap: var(--gap-13xl);
  }
  .col-2 {
    width: 129px;
  }
  .about-sci-trans {
    position: relative;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    width: 188px;
  }
  .icon-11- {
    position: absolute;
    top: 4px;
    left: 17px;
    width: 9px;
    height: 17.1px;
  }
  .facebook {
    position: relative;
    width: 160px;
    height: 26px;
  }
  .x30-4twitter-icon {
    position: absolute;
    top: 3.41px;
    left: 14px;
    width: 19px;
    height: 15.2px;
  }
  .twitter {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 26px;
    display: inline-block;
    width: 160px;
  }
  .google-plus-icon,
  .linkedin-3-icon {
    position: absolute;
    top: 3.5px;
    left: 14px;
    width: 18px;
    height: 18px;
    mix-blend-mode: normal;
  }
  .google-plus-icon {
    width: 26px;
    height: 15.79px;
  }
  .list-items2 {
    flex-direction: column;
    gap: var(--gap-xs);
    text-align: center;
    font-size: var(--body-body-1-size);
    color: var(--text-gray-200);
  }
  .col-5,
  .links,
  .list-items2 {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .col-5 {
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  .links {
    position: absolute;
    top: calc(50% - 101px);
    left: calc(50% - 354.5px);
    width: 549px;
    flex-direction: row;
    gap: 17px;
  }
  .terms {
    position: relative;
    line-height: 26px;
    color: inherit;
    display: inline-block;
    width: 160px;
    text-decoration: none;
  }
  .col-3 {
    position: absolute;
    height: 81.19%;
    width: 22.57%;
    top: 0.5%;
    right: 0;
    bottom: 18.32%;
    left: 77.43%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  .links-parent {
    position: absolute;
    top: calc(50% - 148.96px);
    left: calc(50% - 130.5px);
    width: 709px;
    height: 202px;
  }
  .logo15-2-icon {
    position: absolute;
    height: 8.17%;
    width: 13.18%;
    top: 20.52%;
    right: 76.94%;
    bottom: 71.31%;
    left: 9.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .bg-parent {
    position: relative;
    width: 100%;
    height: 480px;
    text-align: left;
    font-size: var(--heading-h6-size);
    color: var(--text-gray-100);
    font-family: var(--body-body-1);
  }
  
/* Footer starts */
.bg-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background-color: #094B72;
}
.researchers {
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.researchers,
.visit-author-hub {
  display: inline-block;
  width: 160px;
}
.visit-author-hub,
.visit-reviewer-hub {
  position: relative;
  line-height: 26px;
}
.col-1,
.col-2,
.features,
.list-items {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.col-1,
.col-2,
.list-items {
  flex-direction: column;
}
.list-items {
  gap: var(--gap-xs);
  font-size: var(--body-body-1-size);
  color: var(--text-gray-200);
}
.col-1,
.col-2 {
  width: 177px;
  flex-shrink: 0;
  gap: var(--gap-13xl);
}
.col-2 {
  width: 129px;
}
.about-sci-trans {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  width: 188px;
}
.icon-11- {
  position: absolute;
  top: 4px;
  left: 17px;
  width: 9px;
  height: 17.1px;
}
.facebook {
  position: relative;
  width: 160px;
  height: 26px;
}
.x30-4twitter-icon {
  position: absolute;
  top: 3.41px;
  left: 14px;
  width: 19px;
  height: 15.2px;
}
.twitter {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 160px;
}
.google-plus-icon,
.linkedin-3-icon {
  position: absolute;
  top: 3.5px;
  left: 14px;
  width: 18px;
  height: 18px;
  mix-blend-mode: normal;
}
.google-plus-icon {
  width: 26px;
  height: 15.79px;
}
.list-items2 {
  flex-direction: column;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--body-body-1-size);
  color: var(--text-gray-200);
}
.col-5,
.links,
.list-items2 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.col-5 {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.links {
  position: absolute;
  height: 100%;
  width: 77.43%;
  top: 0;
  right: 22.57%;
  bottom: 0;
  left: 0;
  flex-direction: row;
  gap: 17px;
}
.terms {
  position: relative;
  line-height: 26px;
  color: inherit;
  display: inline-block;
  width: 160px;
  text-decoration: none;
}
.col-3 {
  position: absolute;
  height: 81.19%;
  width: 22.57%;
  top: 0.5%;
  right: 0;
  bottom: 18.32%;
  left: 77.43%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.links-parent {
  position: absolute;
  height: 40.24%;
  width: 49%;
  top: 20.32%;
  right: 10.02%;
  bottom: 39.43%;
  left: 40.98%;
}
.bg-parent,
.logo15-2-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo15-2-icon {
  height: 10.16%;
  width: 16.31%;
  top: 20.32%;
  right: 75.39%;
  bottom: 69.52%;
  left: 8.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-6 {
  position: relative;
  width: 100%;
  height: 501.93px;
  text-align: left;
  font-size: var(--heading-h6-size);
  color: var(--text-gray-100);
  font-family: var(--body-body-1);
  top: 572px;
}

/* Footer ends */